* {
  font-family: Microsoft YaHei;
}

.news {
  width:90%;
  margin: 25px auto;
}
.news .item{
  padding:15px;
  box-shadow: 0 0 5px #444;
  background-color: #fff;
  margin-bottom: 15px;
}
.news .item .title {
  color:#000;
  text-decoration: none;  
  font-size: 25px;
  font-weight: 800;
}
.news .item .author {
  padding-left :10px;
  margin: 10px 0;
  color:#444;
  font-size: 22px;
}
.news .item .date {
  padding-left :10px;
  margin: 10px 0;
  color:#222;

  font-size: 25px;
}